<div class="content">
    <div class="title">
      <h1 class="mat-display-1">庫市道場購買需要我們</h1><br/>
      <div *ngIf="name" class="mat-caption">Welcome back {{name}} <button (click)=resetCookies()>reset user</button></div>
      希求大家善行的供養來迴向庫市道場購買成辦。<br/>
      滑鼠指向每一個方塊即可一起造共業。<br/>
      每天將您的善行加入道場購買共業之中。
    </div>

    <table align="center" style="cellpadding: 1px">
      <tr>
        <td style="vertical-align: middle; border: {{deedHighlight[9]}}">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(assets/9.jpg);">
                三多
              </div>
              <div class="flip-card-back">
                <h1>三多</h1>
                <p>多微笑，多做事，多說好話</p>
                <button class="button button1" (click)=recordDeed(9)>點一下就記錄一次</button>
                <p>個人次數： {{personalGoodDeeds[9]}}</p>
                <p>共業總次數： {{goodDeeds[9]}}</p>
              </div>
            </div>
          </div>
        </td>
        <td style="vertical-align: middle; border: {{deedHighlight[8]}}">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(assets/8.jpg);">
                背誦經典
              </div>
              <div class="flip-card-back">
                <h1>背誦經典</h1>
                <p>背誦經典任何四句一偈</p>
                <button class="button button1" (click)=recordDeed(8)>點一下就記錄一次</button>
                <p>個人次數： {{personalGoodDeeds[8]}}</p>
                <p>共業總次數： {{goodDeeds[8]}}</p>
              </div>
            </div>
          </div>
        </td>
        <td style="vertical-align: middle; border: {{deedHighlight[7]}}">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(assets/7.jpg);">
                三十五佛懺
              </div>
              <div class="flip-card-back">
                <h1>三十五佛懺</h1>
                <p>淨除往昔所積罪障，迴向庫市道場購買成辦</p>
                <button class="button button1" (click)=recordDeed(7)>點一下就記錄一次</button>
                <p>個人次數： {{personalGoodDeeds[7]}}</p>
                <p>共業總次數： {{goodDeeds[7]}}</p>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: middle; border: {{deedHighlight[6]}}">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(assets/6.jpg);">
                誦般若經
              </div>
              <div class="flip-card-back">
                <h1>誦頌般若經</h1>
                <p>淨罪集資最好的方法之一！</p>
                <button class="button button1" (click)=recordDeed(6)>點一下就記錄一次</button>
                <p>個人次數： {{personalGoodDeeds[6]}}</p>
                <p>共業總次數： {{goodDeeds[6]}}</p>
              </div>
            </div>
          </div>
        </td>
        <td style="vertical-align: middle; border: {{deedHighlight[5]}}">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(assets/5.jpg);">
                iPray
              </div>
              <div class="flip-card-back">
                <h1>iPray</h1>
                <p>在<a href="https://ipray.bwnc.org/%E4%BE%9B%E9%A4%8ACupertino%EF%BC%88%E5%BA%AB%E5%B8%82%EF%BC%89%E5%A0%B4%E5%9C%B0%E8%B3%BC%E7%BD%AE-c52620004">iPray網站</a>上作供養</p>
                <button class="button button1" (click)=recordDeed(5)>點一下就記錄一次</button>
                <p>個人次數： {{personalGoodDeeds[5]}}</p>
                <p>共業總次數： {{goodDeeds[5]}}</p>
              </div>
            </div>
          </div>
        </td>
        <td style="vertical-align: middle; border: {{deedHighlight[4]}}">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(assets/4.jpg);">
                跟親友介紹
              </div>
              <div class="flip-card-back">
                <h1>跟親友介紹</h1>
                <p>給親友介紹庫市中心購買因緣</p>
                <p>勸發親友們共襄盛舉，共造善業</p>
                <button class="button button1" (click)=recordDeed(4)>點一下就記錄一次</button>
                <p>個人次數： {{personalGoodDeeds[4]}}</p>
                <p>共業總次數： {{goodDeeds[4]}}</p>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: middle; border: {{deedHighlight[3]}}">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(assets/3.jpg);">
                心經七遍
              </div>
              <div class="flip-card-back">
                <h1>心經七遍</h1>
                <p><a href="https://m.youtube.com/watch?v=PZD23OKyy2c">《心經》</a>非常殊勝，經常地念誦、抄寫可以積集非常大的功德!</p>
                <button class="button button1" (click)=recordDeed(3)>點一下就記錄一次</button>
                <p>個人次數： {{personalGoodDeeds[3]}}</p>
                <p>共業總次數： {{goodDeeds[3]}}</p>
              </div>
            </div>
          </div>
        </td>
        <td style="vertical-align: middle; border: {{deedHighlight[2]}}">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(assets/2.jpg);">
                聽廣海明月
              </div>
              <div class="flip-card-back">
                <h1>聽廣海明月</h1>
                <p><a href="https://www.blisswisdom.org/teachings/dailylamrim2">廣海明月</a>有著老師對我們無比的關懷，聽法迴向庫市購買資糧俱足</p>
                <button class="button button1" (click)=recordDeed(2)>點一下就記錄一次</button>
                <p>個人次數： {{personalGoodDeeds[2]}}</p>
                <p>共業總次數： {{goodDeeds[2]}}</p>
              </div>
            </div>
          </div>
        </td>
        <td style="vertical-align: middle; border: {{deedHighlight[1]}}">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front" style="background-image:url(assets/1.jpg);">
                供燈水花香
              </div>
              <div class="flip-card-back">
                <h1>供燈水花香</h1>
                <p>供養佛菩薩燈水花香，累積廣大資糧迴向庫市道場購買成辦</p>
                <button class="button button1" (click)=recordDeed(1)>點一下就記錄一次</button>
                <p>個人次數： {{personalGoodDeeds[1]}}</p>
                <p>共業總次數： {{goodDeeds[1]}}</p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
</div>

<P class="blocktext">
  <b>庫市計劃個人福田累積表<br/>
  迴向：除個人迴向名單外並請加入庫市場地購置計劃圓滿成辦</b><br/><br/>
  三多：對家人多做三多，使家庭和諧，增加未來學習的順緣<br/>
  背誦廣論任何一個四句偈：開始學習將聖者的教言放在內心<br/>
  拜念三十五佛懺：淨除往昔罪障<br/>
  恭誦般若經：體會道次第的內涵<br/>
  iPray：財敬供養<br/>
  跟親友介紹庫市計劃：自作教他功德無量<br/>
  誦心經七遍：增加學習止觀的資糧<br/>
  聽廣海明月（全廣）一講：體會師長的心意<br/>
  供燈水花香（擇一）：累積學習資糧<br/>
</P>
