/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 95%;
}

td, th {
  width: 25%;
}

.mat-elevation-z8 {
  width: 90%;
  margin: 0 auto;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
}
